extends base/_base

block title
    title="Ordosoft"
    //title your page 'about-us' example

block content
    main.main#particles-js
        .mobil-menu
            .logo
                a(href="#")
                    img(src="img/svg/logo.svg" alt="load img")

            .menu-hamburger
                .menu-hamburger__icon
                    .icon-hamburger
                        span
                        span
                        span
                        span
        .navigation
            .logo
                a(href="#")
                    img(src="img/svg/logo.svg" alt="load img")
            ul
                li
                    a(href="#main") Main
                li
                    a(href="#about-us") About us
                li
                    a(href="#directions") Main directions
                li
                    a(href="#technologies") Stack technologies
                li
                    a(href="#our-team") Our team has specialists in development
                li
                    a(href="#our-project") Our projects
                li
                    a(href="#contacts") Contacts
        section.main_section( id="main")
            .left
            .right
                .main_section-right
                    .main_section__heading
                        h1 Lorem ipsum dolor sit amet
                        h2 Non tempor orci tellus tempus, commodo facilisis

                    .scroll-down
                        .scroll-down__inner
                            .arrow-one
                            .arrow-two
                            .arrow-three
                    .social-icon
                        span Follow Ordo Soft
                        a(href="#" class="twitter")
                        a(href="#" class="facebook")
                        a(href="#" class="instagram")


        section.about-us#about-us
            .left
            .right
                .about-us__content
                    .about-us__heading
                        h2 About us
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non tempor orci tellus tempus, commodo facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non tempor orci tellus tempus, commodo facilisis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non tempor orci tellus tempus, commodo facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non tempor orci tellus tempus, commodo facilisis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non tempor orci tellus tempus, commodo facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non tempor orci tellus tempus, commodo facilisis Non tempor orci tellus tempus, commodo facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non tempor orci tellus tempus, commodo facilisis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non tempor orci tellus tempus, commodo facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non tempor orci tellus tempus, commodo facilisis..
                    .about-us__img
                        img(src="img/png/mac3.png" alt="load img")

        section.directions#directions
            .left
            .right
                .directions__content
                    h2 Main directions
                    .directions__content-animation-all
                        .directions__content-animation
                            .directions-animate
                                .directions-animate__inner
                                    .directions-img
                                        img(src="img/svg/img1.svg" alt="load")
                                    .line-block
                                        .line
                                    .directions-name
                                        h5 Mobile development IOS/Android
                            .directions-animate
                                .directions-animate__inner
                                    .directions-img
                                        img(src="img/svg/img2.svg" alt="load")
                                    .line-block
                                        .line
                                    .directions-name
                                        h5 Web development
                            .directions-animate
                                .directions-animate__inner
                                    .directions-img
                                        img(src="img/svg/img3.svg" alt="load")
                                    .line-block
                                        .line
                                    .directions-name
                                        h5 Web sites
                            .directions-animate
                                .directions-animate__inner
                                    .directions-img
                                        img(src="img/svg/img4.svg" alt="load")
                                    .line-block
                                        .line
                                    .directions-name
                                        h5 Desktop Application
                            .directions-animate
                                .directions-animate__inner
                                    .directions-img
                                        img(src="img/svg/img5.svg" alt="load")
                                    .line-block
                                        .line
                                    .directions-name
                                        h5 Design development

        section.technologies#technologies
            .left
            .right
                .technologies__content
                    h2 Stack technologies
                    .technologies-animated__content
                        .animated-top
                            .animated-top__img
                                img(src="img/svg/img12.svg" alt="load img")
                            .animated-top__img
                                img(src="img/svg/img13.svg" alt="load img")
                            .animated-top__img
                                img(src="img/svg/img17.svg" alt="load img")
                            .animated-top__img
                                img(src="img/svg/img18.svg" alt="load img")
                            .animated-top__img
                                img(src="img/svg/img19.svg" alt="load img")
                        .animated-bottom
                            .animated-bottom__img
                                img(src="img/svg/img10.svg" alt="load img")
                            .animated-bottom__img
                                img(src="img/svg/img11.svg" alt="load img")
                            .animated-bottom__img
                                img(src="img/svg/img14.svg" alt="load img")
                            .animated-bottom__img
                                img(src="img/svg/img15.svg" alt="load img")
                            .animated-bottom__img
                                img(src="img/svg/img16.svg" alt="load img")
                            .animated-bottom__img
                                img(src="img/svg/img20.svg" alt="load img")
                            .animated-bottom__img
                                img(src="img/svg/img21.svg" alt="load img")


                    .technologies-animated__content.technologies-mobil
                        .animated-tehnologies-block.animated-mobil
                            .animated-tehnologies-block-top
                                .animated-top__img
                                    img(src="img/svg/img12.svg" alt="load img")
                                .animated-top__img
                                    img(src="img/svg/img13.svg" alt="load img")
                            .animated-tehnologies-block-bottom
                                .animated-bottom__img
                                    img(src="img/svg/img10.svg" alt="load img")
                                .animated-bottom__img
                                    img(src="img/svg/img11.svg" alt="load img")
                        .animated-tehnologies-block.animated-mobil2
                            .animated-tehnologies-block-top
                                .animated-top__img
                                    img(src="img/svg/img17.svg" alt="load img")
                                .animated-top__img
                                    img(src="img/svg/img18.svg" alt="load img")
                            .animated-tehnologies-block-bottom
                                .animated-bottom__img
                                    img(src="img/svg/img14.svg" alt="load img")
                                .animated-bottom__img
                                    img(src="img/svg/img15.svg" alt="load img")
                                .animated-bottom__img
                                    img(src="img/svg/img16.svg" alt="load img")
                        .animated-tehnologies-block.animated-mobil3
                            .animated-tehnologies-block-top
                                .animated-top__img
                                    img(src="img/svg/img19.svg" alt="load img")
                            .animated-tehnologies-block-bottom
                                .animated-bottom__img
                                    img(src="img/svg/img20.svg" alt="load img")
                                .animated-bottom__img
                                    img(src="img/svg/img21.svg" alt="load img")



        section.our-team#our-team
            .left
            .right
                .our-team__content
                    h2 Our team has specialists in development
                    .swiper-container
                        .swiper-wrapper
                            .swiper-slide
                                .our-team__card
                                    .card-img
                                        img(src="img/png/test.png" alt="load img")
                                    h3 Medical Information Systems
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non tempor orci tellus tempus, commodo facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non tempor orci tellus tempus, commodo facilisis.Lorem ipsum dolor sit
                                    .card-link
                                        a(href="#") Learn more >
                            .swiper-slide
                                .our-team__card
                                    .card-img
                                        img(src="img/png/test2.png" alt="load img")
                                    h3 Medical Information Systems
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non tempor orci tellus tempus, commodo facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non tempor orci tellus tempus, commodo facilisis.Lorem ipsum dolor sit
                                    .card-link
                                        a(href="#") Learn more >
                            .swiper-slide
                                .our-team__card
                                    .card-img
                                        img(src="img/png/test3.png" alt="load img")
                                    h3 Medical Information Systems
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non tempor orci tellus tempus, commodo facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non tempor orci tellus tempus, commodo facilisis.Lorem ipsum dolor sit
                                    .card-link
                                        a(href="#") Learn more >
                            .swiper-slide
                                .our-team__card
                                    .card-img
                                        img(src="img/png/test4.png" alt="load img")
                                    h3 Medical Information Systems
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non tempor orci tellus tempus, commodo facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non tempor orci tellus tempus, commodo facilisis.Lorem ipsum dolor sit
                                    .card-link
                                        a(href="#") Learn more >
                            .swiper-slide
                                .our-team__card
                                    .card-img
                                        img(src="img/png/test.png" alt="load img")
                                    h3 Medical Information Systems
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non tempor orci tellus tempus, commodo facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non tempor orci tellus tempus, commodo facilisis.Lorem ipsum dolor sit
                                    .card-link
                                        a(href="#") Learn more >
                            .swiper-slide
                                .our-team__card
                                    .card-img
                                        img(src="img/png/test2.png" alt="load img")
                                    h3 Medical Information Systems
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non tempor orci tellus tempus, commodo facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non tempor orci tellus tempus, commodo facilisis.Lorem ipsum dolor sit
                                    .card-link
                                        a(href="#") Learn more >
                        .swiper-pagination

        .section-all
            section.ozim#our-project
                .left
                .right
                    .ozim__content
                        .ozim__left
                            .ozim__left-img
                                img(src="img/svg/ozim.svg" alt="load img")
                            h2 Ozim
                            .ozim__left-icon
                                .ozim__left-icon-img
                                    img(src="img/svg/android.svg" alt="load img")
                                .ozim__left-icon-img
                                    img(src="img/svg/ios.svg" alt="load img")
                            .text
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non tempor orci tellus tempus, commodo facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non tempor orci tellus tempus, commodo facilisis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non tempor orci tellus tempus, commodo facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non tempor orci tellus tempus, commodo facilisis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non tempor orci tellus tempus, commodo facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non tempor orci tellus tempus, commodo facilisis.
                        .ozim__right
                            .ozim__right-img
                                img(src="img/png/ozim-png.png" alt="load img")
            section.ozim.our-project2
                .left
                .right
                    .ozim__content
                        .ozim__right
                            .ozim__right-img
                                img(src="img/png/ozim-png2.png" alt="load img")
                        .ozim__left
                            .ozim__left-img
                                img(src="img/svg/ozim2.svg" alt="load img")
                            h2 Ozim
                            .ozim__left-icon
                                .ozim__left-icon-img
                                    img(src="img/svg/android.svg" alt="load img")
                                .ozim__left-icon-img
                                    img(src="img/svg/ios.svg" alt="load img")
                                .ozim__left-icon-img
                                    img(src="img/svg/web-icon.svg" alt="load img")
                            .text
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non tempor orci tellus tempus, commodo facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non tempor orci tellus tempus, commodo facilisis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non tempor orci tellus tempus, commodo facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non tempor orci tellus tempus, commodo facilisis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non tempor orci tellus tempus, commodo facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non tempor orci tellus tempus, commodo facilisis.



            section.ozim#our-project3
                .left
                .right.header-stop
                    .ozim__content
                        .ozim__left
                            h2 Financial Managment System
                            .ozim__left-icon
                                .ozim__left-icon-img
                                    img(src="img/svg/web-icon.svg" alt="load img")
                            .text
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non tempor orci tellus tempus, commodo facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non tempor orci tellus tempus, commodo facilisis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non tempor orci tellus tempus, commodo facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non tempor orci tellus tempus, commodo facilisis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non tempor orci tellus tempus, commodo facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non tempor orci tellus tempus, commodo facilisis.

                        .ozim__right
                            .ozim__right-img
                                img(src="img/png/ozim-png3.png" alt="load img")
        section.footer#contacts
            .left
            .right
                .footer__content
                    .footer-img
                        img(src="img/png/map-img.png" alt="load img")
                        .map-footer
                            iframe( src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d21775.41421057067!2d74.6247526673899!3d42.87937975588395!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e0!4m0!4m5!1s0x389eb7a63a7b1ca1%3A0xe4881c708ca37205!2zMSwgMyDRjdGC0LDQtiwgMjgg0L_RgNC-0YHQvy4g0KfRg9C5LCDQkdC40YjQutC10Lo!3m2!1d42.8750127!2d74.6363459!5e0!3m2!1sru!2skg!4v1593267648476!5m2!1sru!2skg" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0")
                    .footer_social_icon
                        .tel
                            .social_icon-block
                                .name Phone:
                                a(href="tel:+996 555 444 444") +996 555 444 444
                        .email
                            .social_icon-block
                                .name E-mail:
                                a(href="mailto:Ordosoft@gmail.com") Ordosoft@gmail.com
                        .skype
                            .social_icon-block
                                .name Skype:
                                a(href="#") Ordosoft
                        .website
                            .social_icon-block
                                .name Website:
                                a(href="#") Ordosoft.kg








//- connect only custom js
block scripts

    script.


        // ============scroll animated==============


        $(document).ready(function () {


            let link = $(".main .navigation ul li");

            let addClass = function (index) {
                link.each(function (i, obj) {
                    if (i === index) {
                        $(obj).find("a").addClass("active")
                    }
                })
            };

            addClass(0)


            $(document).on("scroll", window, function () {

                if ($(window).scrollTop() > $(".main").offset().top) {
                    $(".main .navigation ul a").removeClass("active");
                    $(".main .navigation ul a[href$='main']").addClass("active");
                }

                if ($(window).scrollTop() > $("#about-us").offset().top - 50) {
                    $(".main .navigation ul a").removeClass("active");
                    $(".main .navigation ul a[href$='about-us']").addClass("active");
                    $("#about-us").addClass("about-us-active");
                } else {
                    $("#about-us").removeClass("about-us-active");
                }

                if ($(window).scrollTop() > $("#directions").offset().top - 50) {
                    $(".main .navigation ul a").removeClass("active");
                    $(".main .navigation ul a[href$='directions']").addClass("active");
                    $("#directions").addClass("active-directions")
                }

                if ($(window).scrollTop() > $("#directions").offset().top) {
                    $("#directions").addClass("active-directions")
                } else {
                    $("#directions").removeClass("active-directions")
                }

                if ($(window).scrollTop() > $("#technologies").offset().top) {
                    $("#technologies").addClass("active-technologies")
                } else {
                    $("#technologies").removeClass("active-technologies")
                }

                if ($(window).scrollTop() > $("#technologies").offset().top - 50) {
                    $(".main .navigation ul a").removeClass("active");
                    $(".main .navigation ul a[href$='technologies']").addClass("active");
                }

                if ($(window).scrollTop() > $("#our-team").offset().top - 50) {
                    $(".main .navigation ul a").removeClass("active");
                    $(".main .navigation ul a[href$='our-team']").addClass("active");
                }

                if ($(window).scrollTop() > $("#our-project").offset().top - 50) {
                    $(".main .navigation ul a").removeClass("active");
                    $(".main .navigation ul a[href$='our-project']").addClass("active");
                    $("#our-project").addClass("our-project-active");
                } else {
                    $("#our-project").removeClass("our-project-active");
                }

                if ($(window).scrollTop() > $(".our-project2").offset().top - 50) {
                    $(".our-project2").addClass("our-project-active");
                } else {
                    $(".our-project2").removeClass("our-project-active");
                }

                if ($(window).scrollTop() > $("#our-project3").offset().top - 50) {
                    $("#our-project3").addClass("our-project-active");
                } else {
                    $("#our-project3").removeClass("our-project-active");
                }

                // if ($(window).scrollTop() > $(".header-stop").offset().top) {
                //     $(".main_section .navigation ").css("position", 'absolute');
                //     $(".main_section .navigation ").css("top", $(".header-stop").offset().top);
                // } else {
                //     $(".main_section .navigation ").css("position", 'fixed');
                //     $(".main_section .navigation ").css("top", 'auto');
                // }

                if ($(window).scrollTop() > $("#contacts").offset().top - 50) {
                    $(".main .navigation ul a").removeClass("active");
                    $(".main .navigation ul a[href$='contacts']").addClass("active");
                }


            });


            $(document).on("scroll", window, function () {

                if ($(window).scrollTop() > $("#technologies").offset().top - 150) {
                    $(".animated-mobil").addClass("active-technologies-mobil2")
                } else {
                    $(".animated-mobil").removeClass("active-technologies-mobil2")
                }

                if ($(window).scrollTop() > $(".animated-mobil2").offset().top - 150) {
                    $(".animated-mobil2").addClass("active-technologies-mobil2")
                } else {
                    $(".animated-mobil2").removeClass("active-technologies-mobil2")
                }

                if ($(window).scrollTop() > $(".animated-mobil3").offset().top - 150) {
                    $(".animated-mobil3").addClass("active-technologies-mobil2")
                } else {
                    $(".animated-mobil3").removeClass("active-technologies-mobil2")
                }

            });

        });




        $(document).ready(function () {
            $(".navigation ul").on("click", "a", function (event) {
                event.preventDefault();
                var id = $(this).attr('href'),
                    top = $(id).offset().top;
                $('body,html').animate({scrollTop: top}, 1000);
            });
        });


        var swiper = new Swiper('.swiper-container', {
            spaceBetween: 30,
            slidesPerView: 1.5,
            pagination: {
                el: '.swiper-pagination',
                type: 'progressbar',
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            breakpoints: {
                426: {
                    spaceBetween: 30,
                    slidesPerView: 2.5,
                },
                769: {
                    spaceBetween: 30,
                    slidesPerView: 3.5,
                },
                1025: {
                    spaceBetween: 30,
                    slidesPerView: 3.5,
                },
                1441: {
                    spaceBetween: 30,
                    slidesPerView: 4.5,
                }
            }

        });


        if ($(window).width() > 640) {
            particlesJS.load('particles-js', 'assets/particles.json', function () {
                console.log('callback - particles.js config loaded');
            });


            particlesJS("particles-js", {
                "particles": {
                    "number": {"value": 80, "density": {"enable": true, "value_area": 1000}},
                    "color": {"value": "#eb0606"},
                    "shape": {
                        "type": "circle",
                        "stroke": {"width": 0, "color": "#000000"},
                        "polygon": {"nb_sides": 5},
                        "image": {"src": "img/github.svg", "width": 100, "height": 100}
                    },
                    "opacity": {
                        "value": 1,
                        "random": false,
                        "anim": {"enable": false, "speed": 1, "opacity_min": 0.1, "sync": false}
                    },
                    "size": {
                        "value": 5,
                        "random": true,
                        "anim": {"enable": false, "speed": 40, "size_min": 0.1, "sync": false}
                    },
                    "line_linked": {"enable": true, "distance": 200, "color": "#eb0606", "opacity": 0.4, "width": 2},
                    "move": {
                        "speed": 10,
                        "direction": "none",
                        "random": false,
                        "straight": false,
                        "out_mode": "out",
                        "bounce": false,
                        "attract": {"enable": false, "rotateX": 600, "rotateY": 1200}
                    }
                },
                "interactivity": {
                    "detect_on": "canvas",
                    "modes": {
                        "grab": {"distance": 400, "line_linked": {"opacity": 1}},
                        "bubble": {"distance": 400, "size": 40, "duration": 2, "opacity": 8, "speed": 3},
                        "repulse": {"distance": 200, "duration": 0.4},
                        "push": {"particles_nb": 4},
                        "remove": {"particles_nb": 2}
                    }
                },
            });

        }






